In [7]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [9]:
#Loading the models
model=load_model('model.h5')

#load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [18]:
import pandas as pd

# Example input data
input_data = {
    'CreditScore': [600],
    'Geography': ['France'],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [30],
    'Balance': [60000],
    'NumOfProducts': [2],
    'HasCrCard': [1],
    'IsActiveMember': [1],
    'EstimatedSalary': [50000]
}

# Convert input data dictionary to DataFrame
input_df = pd.DataFrame(input_data)

In [19]:
geo_encoded = label_encoder_geo.transform(input_df[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [21]:
input_data=pd.concat([input_df.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [22]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,30,60000,2,1,1,50000,1.0,0.0,0.0

In [23]:
input_data['Gender'] = label_encoder.transform(input_data['Gender'])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,30,60000,2,1,1,50000,1.0,0.0,0.0

In [24]:
input_scaled = scaler.transform(input_data)

In [25]:
#Predictions
model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step

array([[0.00304039]], dtype=float32)